CHIRP_BAND=airband
CHIRP_CMD_HOST=0.0.0.0
CHIRP_CMD_PORT=7400
CHIRP_LOG_LEVEL=INFO
CHIRP_SOURCE=sdr
CHIRP_SOURCE_SAMP_RATE=2000000
CHIRP_SDR_DEVICE_ARGS=soapy=,driver=sdrplay,serial=2405265A60
CHIRP_SDR_CENTER_FREQ_HZ=118925000
CHIRP_SDR_GAIN_DB=30.0
CHIRP_SDR_GAIN_MODE_AUTO=true
CHIRP_SDR_BANDWIDTH_HZ=0
CHIRP_AUDIO_OUT=icecast:100.83.241.34:8000:/neptune-analog.mp3:digitalpw123
CHIRP_ICECAST_BITRATE_KBPS=64
CHIRP_AUDIO_RATE=16000
CHIRP_AM_AGC_ENABLED=false
CHIRP_AM_FIXED_GAIN=10.0
CHIRP_ALLOW_PROD_MOUNT=1
CHIRP_STATE_PATH=/home/willminkoff/.local/share/chirp/airband.state.json
CHIRP_HIT_LOG=/home/willminkoff/.local/share/chirp/logs/hits.jsonl
CHIRP_LO_MAX_CLUSTERS=6
