# /etc/default/airband-ui
GROUND_BACKEND=sdrtrunk
AIR_MOUNT=AIR.mp3
GROUND_MOUNT=GROUND.mp3
MIX_MOUNT=GND.mp3
SDRTRUNK_HOME=/var/lib/sdrtrunk
SDRTRUNK_PROFILES_DIR=/home/willminkoff/scannerproject/profiles/sdrtrunk
