[Unit]
Description=RTLSDR-Airband (scan -> Icecast)
After=network-online.target icecast2.service
Wants=network-online.target
Requires=icecast2.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/pkill -x rtl_airband
ExecStart=/usr/local/bin/rtl_airband -f -c /usr/local/etc/rtl_airband.conf
Restart=on-failure
RestartSec=2
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
