[Unit]
Description=RTLSDR-Airband Ground (scan -> Icecast)
After=network-online.target icecast2.service
Wants=network-online.target
Requires=icecast2.service
Wants=rtl-airband-last-hit.service

[Service]
Type=simple
ExecStart=/bin/bash /home/willminkoff/scannerproject/scripts/rtl-airband-filter.sh /usr/local/etc/rtl_airband_ground.conf
Restart=on-failure
RestartSec=0
TimeoutStopSec=1
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
