[Unit]
Description=Periodic SB3 Bluetooth Audio Heal

[Timer]
OnBootSec=25s
OnUnitActiveSec=60s
Persistent=true
Unit=scanner-bt-audio-heal.service

[Install]
WantedBy=timers.target

