# /etc/default/sdrtrunk
SDRTRUNK_PROFILE=vanderbilt_p25
SDRTRUNK_HOME=/var/lib/sdrtrunk
SDRTRUNK_PROFILE_DIR=/home/willminkoff/scannerproject/profiles/sdrtrunk
# SDRTRUNK_BIN=/opt/sdrtrunk/sdrtrunk
# SDRTRUNK_JAR=/opt/sdrtrunk/sdrtrunk.jar
